@import "~bootstrap/scss/bootstrap.scss";

#trafficTop {
    background-color: black;
    height: 70px;
    width: 10px;
    margin-left: 82px;
}

#trafficMain {
    background-color: black;
    width: 70px;
    height: 178px;
    padding: 7px;
    margin-left: 50px;
    border-radius: 10px;
}

.light {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    &.red { background: #990000; }
    &.yellow { background: #CC6600; }
    &.green { background: #009933; }
    &.selected { box-shadow: #f8ffcc 0px 0px 50px 20px;}
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
